METEOR_URL=http://localhost
METEOR_WEBSOCKET_URL=ws://localhost/websocket
JANUS_URL=http://localhost:8188
MEDIASERVER_ADDRESS=http://localhost:3000
MEDIASERVER_PATH=media/
LOCAL_MEDIA_PATH=/Users/holger/Documents/Projekte/360vr/code/360vr/data/media/
LOCAL_HLS_PATH=/Users/holger/Documents/Projekte/360vr/code/360vr/data/hls/

# METEOR_URL=https://360vr.intergestalt.cloud
# METEOR_WEBSOCKET_URL=wss://360vr.intergestalt.cloud/websocket
# JANUS_URL=https://janus.360vr.intergestalt.cloud
# MEDIASERVER_ADDRESS=https://360vr.intergestalt.cloud
# MEDIASERVER_PATH=media/
# LOCAL_MEDIA_PATH=/data/media/
# LOCAL_HLS_PATH=/data/hls/